<app-nav></app-nav>
<button (click)="createUser()"> crear usuario </button>
<button (click)="login()"> Login </button>
<button (click)="getProfile()"> Get Profile </button>
<p>
  <a href="./../assets/files/texto.txt" download>Descarga de Archivo</a>
</p>
<p>
  <button (click)="getFile()"> Descargar con url</button>
</p>
<p>
  <input type="file" (change)="onUpLoad($event)">
  <img *ngIf="imgRta" [src]="imgRta" >
</p>

<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

